.pic_banner {
  height: 6.66666667rem;
}
.kc_part li {
  display: flex;
  padding: 0.8rem;
  margin: 1rem auto;
  background: #F4F4F4;
  width: 21.66666667rem;
  box-shadow: 0 0.16666667rem 0.16666667rem 0.16666667rem rgba(200, 200, 200, 0.5);
}
.kc_part li .pic {
  float: left;
  padding: 0 1.33333333rem;
  height: 6.66666667rem;
  text-align: center;
  margin: 0.4rem;
  background: #d7d7d7;
  border-right: 0.03333333rem solid #e0e0e0;
}
.kc_part li .pic h4 {
  margin-top: 1rem;
  font-size: 0.86666667rem;
  color: #d1001c;
  padding-top: 0.66666667rem;
  font-weight: 500;
}
.kc_part li .pic h4 span {
  padding-left: 0.33333333rem;
}
.kc_part li .pic p {
  margin-top: 0.33333333rem;
  font-size: 1.5rem;
}
.kc_part li .text {
  float: left;
  text-align: left;
  font-size: 0.66666667rem;
  line-height: 1.33333333rem;
  margin-left: 0.66666667rem;
}
.kc_part li .text h3 {
  margin-bottom: 0.53333333rem;
  font-size: 0.86666667rem;
  margin-top: 0.4rem;
}
.kc_part li .text p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.kc_part .mint-spinner-fading-circle {
  margin: 0 auto;
}
